
{% load static %}
{% block content %}
      <!-----------ABout------------------>
	<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h2>About Us</h2>
					<div class="about-content">
						WebTech is a technological company that forcuses on Web Application Development, Web Designing, Web Hosting, Domain Registration, Desktop Applications and Graphic Designing. We ensure that we link your business with right customers to ensure growth in whatever you venture in. 
					</div>
					<a href="" class="btn btn-primary y">More abaout us</a>
				</div>
				<div class="col-md-6">
					<p>WordPress </p>
					<div class="progress">
						<div class="progress-bar" style="width: 82%;">82%</div>
					</div>
      					 <p>Web Application Development </p>
					<div class="progress">
						<div class="progress-bar" style="width: 95%;">95%</div>
					</div>					<p>Web Design ( HTML, CSS, JAVASCRIPT ) </p>
					<div class="progress">
						<div class="progress-bar" style="width: 99%;">99%</div>
					</div>
					<p>Graphics Designing </p>
					<div class="progress">
						<div class="progress-bar" style="width: 90%;">90%</div>
					</div>
				</div>
			</div>
		</div>
	</section>
      
          
{% endblock %}