
{% load static %}
{% block content %}
      <!-------------Packages--------->
	<section id="packages">
		<div class="container">
			<h1> <span>our</span> Packages</h1>
			<div class="row">
				<div class="col-md-4">
					<div class="card" style="width: 18rem;">
						<img src="{% static 'img/grap.jpg' %}" class="card-img-top cc" >
						<div class="card-body">
							<h5 class="card-title">Graphics Designing</h5>
							<p class="card-text">
								<ul>
									<li class="special"><i class="fa fa-check-circle"></i>Affordable</li>
									<li class="text"><i class="fa fa-check-circle"></i>Usable on social media</li>
								</ul>
							</p>
							<a href="#Contact" class="btn btn-primary y">Order Now</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card" style="width: 18rem;">
						<div class="round-img">
							<img src="{% static 'img/webapp.jpg' %}" class="card-img-top" >
						</div>
						<div class="card-body">
							<h5 class="card-title">Web Applications</h5>
							<p class="card-text">
								<ul>
									<li class="special"><i class="fa fa-check-circle"></i>FREE DOMAIN </li>
									<li class="text"><i class="fa fa-check-circle"></i>Responsive Apps</li>
									<li class="text"><i class="fa fa-check-circle"></i>Morden Technologies</li>
								</ul>
							</p>
							<a href="#Contact" class="btn btn-primary">Order Now</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card" style="width: 18rem;">
						<img src="{% static 'img/wordpress.jpg' %}" class="card-img-top" >
						<div class="card-body">
							<h5 class="card-title">Website Designing</h5>
							<p class="card-text">
								<ul>
									<li class="special"><i class="fa fa-check-circle"></i>FREE DOMAIN </li>
									<li class="text"><i class="fa fa-check-circle"></i>Responsive Apps</li>
									<li class="text"><i class="fa fa-check-circle"></i>Morden Technologies</li>
								</ul>
							</p>
							<a href="#Contact" class="btn btn-primary">Order Now</a>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="row packages">
				<div class="col-md-4">
					<div class="card" style="width: 18rem;">
						<div class="dolar text-center">
							<i class="fas fa-dollar-sign fa-7x "></i>
						</div>
						<div class="card-body">
							<div class="level text-center">
								<i class="fas fa-biking fa-2x"></i>
							</div>
							<h5 class="card-title text-center">Beginner</h5>
							<p class="card-text">
								<ul class="list">
									<li class="text"><i class="fa fa-check-circle"></i>Responsive Websites</li>
									<li class="text"><i class="fa fa-check-circle"></i> HTML5 and CSS3</li>
									<li class="text"><i class="fa fa-check-circle"></i>Morden Look</li>
									<li class="text"><i class="fa fa-check-circle"></i>WordPress</li>
									<li class="text"><i class="fa fa-check-circle"></i>Social Media Icons</li>
									<li class="text"><i class="fa fa-times-circle"></i>Domain "Can be Added for an extra fee"</li>
									<li class="text"><i class="fa fa-times-circle"></i>Hosting "Can be Added for an extra fee"</li>
								</ul>
							</p>
							<a href="#Contact" class="btn btn-primary">Order Now</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card" style="width: 18rem;">
						<div class="dolar text-center">
							<i class="fas fa-dollar-sign fa-7x"></i>
						</div>
						<div class="card-body">
							<div class="level text-center">
								<i class="fas fa-car fa-2x"></i>
							</div>
							<h5 class="card-title text-center">Standard</h5>
							<p class="card-text">
								<ul>
									<li class="text special"><i class="fa fa-check-circle"></i>Free Domain </li>
									<li class="text"><i class="fa fa-check-circle"></i> Responsive Websites</li>
									<li class="text"><i class="fa fa-check-circle"></i>Java Script</li>
									<li class="text"><i class="fa fa-check-circle"></i> HTML5 and CSS3</li>
									<li class="text"><i class="fa fa-check-circle"></i> Morden Look</li>
									<li class="text"><i class="fa fa-check-circle"></i> WordPress</li>
									<li class="text"><i class="fa fa-check-circle"></i> Social Media Icons</li>
									<li class="text"><i class="fa fa-times-circle"></i> Hosting "Can be Added for an extra fee"</li>
								</ul>
							</p>
							<a href="#Contact" class="btn btn-primary">Order Now</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card" style="width: 18rem;">
						<div class="dolar text-center">
							<i class="fas fa-dollar-sign fa-7x"></i>
						</div>
						<div class="card-body">
							<div class="level text-center">
								<i class="fas fa-truck-monster fa-2x"></i>
							</div>
							<h5 class="card-title text-center">Professional</h5>
							<p class="card-text">
								<ul>
									<li class="text special"><i class="fa fa-check-circle"></i>Free Domain</li>
									<li class="text special"><i class="fa fa-check-circle"></i>Free Hosting</li>
									<li class="text special"><i class="fa fa-check-circle"></i>Free Maintanance</li>
									<li class="text"><i class="fa fa-check-circle"></i>Responsive Websites</li>
									<li class="text"><i class="fa fa-check-circle"></i> HTML5 and CSS3</li>
									<li class="text"><i class="fa fa-check-circle"></i>Morden Look</li>
									<li class="text"><i class="fa fa-check-circle"></i>Java Script</li>
									<li class="text"><i class="fa fa-check-circle"></i>WordPress</li>
									<li class="text"><i class="fa fa-check-circle"></i>Social Media Icons</li>
									
								</ul>
							</p>
							<a href="#Contact" class="btn btn-primary">Order Now</a>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</section>
      
{% endblock %}