
{% load static %}
{% block content %}
   <!-----------Our Team---------------->
	<section id="team">
		<div class="container">
			<h1>Our Team</h1>
			<div class="row">
				<div class="col-md-12 profile-pic text-center">
					<div class="img-box">
						<img src="{% static 'img/ceo.jpg' %}" class="img-responsive">
						<ul>
							<a href="https://www.facebook.com/profile.php?id=100015822451039"><li><i class="fa fa-facebook"></i></li></a>
							<a href="https://twitter.com/Jnr_Makae"><li><i class="fa fa-twitter"></i></li></a>
							<a href=""><li><i class="fa fa-envelope"></i></li></a>
						</ul>
					</div>
					<h2>Hamadzashe Mujati</h2>
					<h3>Founder / CEO</h3>
				</div>
			</div>	
		</div>
	</section>   
      
{% endblock %}